# Task : Session 1 done by Mohd Saqib Ansari
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [4]:
print("Data" ,"Science", "Mentorship", "Program","started",sep='-',end='-')
print("By" ,"CampusX",sep='-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [5]:
celsius=float(input("Enter temperaturein Celsius "))
print("The temperature in fahrenheit is ",(celsius*9/5)+32)

Enter temperaturein Celsius 5
The temperature in fahrenheit is  41.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [7]:
num1=int(input("Enter first Number "))
num2=int(input("Enter second Number "))
print("Your Input Data: ",num1,num2)
temp=num1
num1=num2
num2=temp
print("Your swapped Numbers: ",num1,num2)

Enter first Number 23
Enter second Number 7
Your Input Data:  23 7
Your swapped Numbers:  7 23

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [8]:
x1=int(input("Enter x1 cordinate "))
y1=int(input("Enter y1 cordinate "))
x2=int(input("Enter x2 cordinate "))
y2=int(input("Enter y2 cordinate "))
print("Euclidean Distance is: ", ((x1-x2)**2 +(y1-y2)**2)**0.5)

Enter x1 cordinate 4
Enter y1 cordinate 3
Enter x2 cordinate 2
Enter y2 cordinate 1
Euclidean Distance is:  2.8284271247461903

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [9]:
principal=float(input("Enter the Principal Amount "))
rate=float(input("Enter the Rate of Interest "))
time=float(input("Enter the time period "))
print("Simple Interest is : ",principal*rate*time/100)

Enter the Principal Amount 1000
Enter the Rate of Interest 2
Enter the time period 1
Simple Interest is :  20.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [15]:
legs=int(input("Enter number of Legs "))
head=int(input("Enter number of Heads "))
dogs=(legs-(2*head))/2
print("Number of Dogs: ",dogs,end=' ')
print("Number of Chicken: ",head-dogs)

Enter number of Legs 12
Enter number of Heads 4
Number of Dogs:  2.0 Number of Chicken:  2.0

4### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [18]:
n=int(input("Enter the value of n to find sum of squares of first n natural numbers "))
print("sum of squares of first n natural numbers is: ",(n*(n+1)*(2*n+1)/6))

Enter the value of n to find sum of squares of first n natural numbers 8
sum of squares of first n natural numbers is:  204.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [19]:
a1=int(input("Enter first term "))
a2=int(input("Enter second term "))
n=int(input("Enter the valu of n "))
print("The nth term is ",a1+ ((n-1)*(a2-a1)))

Enter first term 2
Enter second term 3
Enter the valu of n 4
The nth term is  5

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [20]:
num1=int(input("Enter Numerator 1"))
den1=int(input("Enter Denominator 2"))
num2=int(input("Enter Numerator 1"))
den2=int(input("Enter Denominator 2"))
frac1=num1/den1
frac2=num2/den2
print("Sum od two fractions is ", frac1+frac2)

Enter Numerator 11
Enter Denominator 22
Enter Numerator 11
Enter Denominator 22
Sum od two fractions is  1.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [21]:
height=int(input("Enter the Height of Tank "))
breadth=int(input("Enter the Breadth of Tank "))
width=int(input("Enter the Width of Tank "))
h=int(input("Enter the Height of glass "))
r=int(input("Enter the radius of glass "))
print("Number of glasses of milk; ",(height*breadth*width)/(3.14*r**2*h))

Enter the Height of Tank 20
Enter the Breadth of Tank 20
Enter the Width of Tank 20
Enter the Height of glass 3
Enter the radius of glass 1
Number of glasses of milk;  849.2569002123142